*.aux
*.fdb*
*.fls
*.log
*.pdf
*.out
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot
*.gz
*.toc

.DS_Store

*.bkp

literature_reviews/*
contributions/secrets_removal
contributions/altered-histories
contributions/tag-alterations-paper
Thesis.md