*.aux
*.fdb*
*.fls
*.log
*.out
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot
*.gz
*.toc

.DS_Store

*.bkp

literature_reviews/*
contributions/secrets_removal
contributions/altered-histories
contributions/tag-alterations-paper
contributions/*
experiments/*
Thesis.md
main.pdf
Training handout - Write your PhD thesis - 01-2026.pdf
models/CONSIGNES _A _RESPECTER _ThŠses_IP Paris.pdf
models/GUIDELINES_FOR_IP PARIS_THESES _LAYOUT.pdf
models/LaTeX/4eme.pdf
models/LaTeX/1ere.pdf
*_old.tex

vulgarisation.txt
defense/previous_talks/*
defense/slides.pdf
*.listing
*.nav
*.snm
*.vrb
